<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <h1>Node.js</h1>
      </div>

      <nav>
        <ul class="navbar">
          <li><a href="#">http</a></li>
          <li><a href="#">process</a></li>
          <li><a href="#">buffer</a></li>
          <li><a href="#">stream</a></li>
          <li><a href="#">crypto</a></li>
          <li><a href="#">Zlib</a></li>
          <li><a href="#">Events</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="content1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatem
        impedit accusamus voluptates aperiam tenetur repudiandae perspiciatis
        officiis maxime natus repellendus eaque doloribus minima iusto iste vel,
        et eos rerum! Officia beatae rerum sint iste voluptates veritatis nam
        ducimus at animi optio doloremque sed quidem sapiente, itaque iusto,
        accusantium ad vero? Dolorum voluptas enim repudiandae rem saepe laborum
        aliquam blanditiis doloribus illum quibusdam ad, quo, autem sunt
        expedita repellendus. Dicta doloremque suscipit ipsum consectetur
        accusantium tempore quos? Delectus officia illum nesciunt similique
        atque? Culpa ut similique eum commodi, fugiat temporibus minima, nam
        exercitationem rerum ea veniam pariatur nobis unde at!
      </div>
      <div class="content2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatem
        impedit accusamus voluptates aperiam tenetur repudiandae perspiciatis
        officiis maxime natus repellendus eaque doloribus minima iusto iste vel,
        et eos rerum! Officia beatae rerum sint iste voluptates veritatis nam
        ducimus at animi optio doloremque sed quidem sapiente, itaque iusto,
        accusantium ad vero? Dolorum voluptas enim repudiandae rem saepe laborum
        aliquam blanditiis doloribus illum quibusdam ad, quo, autem sunt
        expedita repellendus. Dicta doloremque suscipit ipsum consectetur
        accusantium tempore quos? Delectus officia illum nesciunt similique
        atque? Culpa ut similique eum commodi, fugiat temporibus minima, nam
        exercitationem rerum ea veniam pariatur nobis unde at!
      </div>
      <div class="content3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatem
        impedit accusamus voluptates aperiam tenetur repudiandae perspiciatis
        officiis maxime natus repellendus eaque doloribus minima iusto iste vel,
        et eos rerum! Officia beatae rerum sint iste voluptates veritatis nam
        ducimus at animi optio doloremque sed quidem sapiente, itaque iusto,
        accusantium ad vero? Dolorum voluptas enim repudiandae rem saepe laborum
        aliquam blanditiis doloribus illum quibusdam ad, quo, autem sunt
        expedita repellendus. Dicta doloremque suscipit ipsum consectetur
        accusantium tempore quos? Delectus officia illum nesciunt similique
        atque? Culpa ut similique eum commodi, fugiat temporibus minima, nam
        exercitationem rerum ea veniam pariatur nobis unde at!
      </div>
      <div class="content4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatem
        impedit accusamus voluptates aperiam tenetur repudiandae perspiciatis
        officiis maxime natus repellendus eaque doloribus minima iusto iste vel,
        et eos rerum! Officia beatae rerum sint iste voluptates veritatis nam
        ducimus at animi optio doloremque sed quidem sapiente, itaque iusto,
        accusantium ad vero? Dolorum voluptas enim repudiandae rem saepe laborum
        aliquam blanditiis doloribus illum quibusdam ad, quo, autem sunt
        expedita repellendus. Dicta doloremque suscipit ipsum consectetur
        accusantium tempore quos? Delectus officia illum nesciunt similique
        atque? Culpa ut similique eum commodi, fugiat temporibus minima, nam
        exercitationem rerum ea veniam pariatur nobis unde at!
      </div>
    </main>

    <footer>
      <div class="footer">
        <h1>This is footer</h1>
      </div>
    </footer>
  </body>
</html>
