<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <h1>new page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sed
      minima labore magnam nisi esse, ad a enim vitae qui at? Nulla consectetur
      tempora aut officia ad doloribus molestiae a mollitia voluptate vel quae
      dolorum nesciunt, sit repudiandae vero hic facere? In, voluptates magnam
      nisi sit alias beatae cum incidunt minus iste facere aut cumque dolorem at
      qui cupiditate, dignissimos, eligendi ex ratione non tempore suscipit
      perferendis ullam reprehenderit id. Porro molestiae quod repellat quaerat
      ad quidem numquam sequi tempore quas nobis nulla iste exercitationem
      voluptatibus cumque fuga, fugiat quia dolorum quo assumenda aut veniam
      recusandae aspernatur nihil blanditiis! Doloribus.
    </p>

    <img src="../img/pexels-alina-skazka-19225765.jpg" alt="" />
  </body>
</html>
